body{
    background-color: lightgrey;
    margin: 0px;
}

body p{
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
}
header{
    background: white;
    height: 50px;
}
header h1{
    margin: 0;
}
h2, span{
    display: inline;
    padding: 2.5%;
}
h2{
    margin: 0%;
    float: left;
    font-family: "Lato", serif;
    font-weight: 600;
    font-style: normal;
    font-size: large;
}
span{
    margin: auto;
    float: right;
    color: rgb(204, 204, 204);
}
p{
    padding: 2.5%;
    text-align: left;
}
.contenido{
    width: 600px;
    margin: auto;
}
.Post {
    background: white;
    margin-top: 50px;
}
.foto{
    width: 100%;
    height: auto;
}